html {
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    color: #242225;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 3rem;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

button {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

input {
    outline: none;
}

.h2-style {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.dropdown-style {
    position: relative;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #215BD4;
    background-color: #FFFFFF;
    font-weight: 400;
    color: #215BD4;
    padding: 0 1rem;
    cursor: pointer;
}

.dropdown-style::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    background: url(./images/arrow-open.svg) center / contain no-repeat;
    transform: translateY(2px);
}

.primary-button {
    display: block;
    width: fit-content;
    text-align: center;
    background-color: #215BD4;
    color: #FFFFFF;
    margin: 0 auto;
    padding: .7rem 2.2rem;
    border-radius: .4rem;
    font-weight: 700;
    font-size: .9rem;
    transition: all 500ms ease; 
}

.primary-button:hover {
    background: rgba(0,0,0,0);
	color: #215BD4;
	box-shadow: inset 0 0 0 3px #215BD4;
}

.slick-prev:before, .slick-next:before {
    font-size: 50px;
    color: #215BD4;
    z-index: 50;
}

/*header*/

.header {
    font-size: .8rem;
    padding-top: 5rem;
    margin-top: -5rem;
}

.main-navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.main-navigation__section {
    background-color: #215BD4;
    color: #FFFFFF;
}

.main-navigation__container--mobile {
    display: none;
}

.main-navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.main-navigation__item {
    margin-right: 1.5rem;
}

.main-navigation__link, .main-navigation__enter, .footer__link--text {
    position: relative;
}

.main-navigation__link::after, .main-navigation__enter::after, .footer__link--text::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    border-radius: 1rem;
    background-color: #FFFFFF;
    transition: width 0.5s;
}

.main-navigation__link:hover:after, .main-navigation__enter:hover:after, .footer__link--text:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; 
    background-color: #FFFFFF; 
    transition: width 0.5s;
}

.main-navigation__address {
    font-style: normal;
}

.main-navigation__address::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background: url(./images/location.svg) center / contain no-repeat;
    transform: translate(-2rem);
}

.main-navigation__enter::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background: url(./images/user.svg) center / contain no-repeat;
    transform: translate(-2rem);
}

/*action-bar__section*/

.action-bar__section {
    border-bottom: 1px solid #999;
}

.action-bar__section--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #FFF;
} 

.action-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.action-bar__logo {
    width: 8rem;
    height: 3rem;
    background: url(./images/logo.jpg) center / contain no-repeat;
    transform: translateY(-.5rem);
}

.action-bar__search {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-bar__search-category {
    width: 40%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-right: none;
}

.action-bar__search-form {
    width: 60%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #215BD4;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: #FFFFFF;
    color: #215BD4;
    padding: 0 1rem;
}

.action-bar__search-form-button {
    width: 1rem;
    height: 1rem;
    border: none;
    background: url(./images/loupe.svg) center / contain no-repeat;
}

.action-bar__search-form-input {
    width: 80%;
    border: none;
    color: #215BD4;
    font-size: .8rem;
}

.action-bar__search-form-input::placeholder {
    color: #215BD4;
    font-weight: 400;
    font-size:  .8rem;
}

.action-bar__call-number, .action-bar__call-order {
    display: block;
}

.action-bar__call-order {
    color: #215BD4;
    border: 1px solid #215BD4;
    border-radius: .4rem;
    padding: .2rem .7rem;
    font-size: .7rem;
    text-align: center;
    transition: all 500ms ease;
}

.action-bar__call-order:hover {
    background: #215BD4;
	color: #FFFFFF;
}

.action-bar__call-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.action-bar__call-number:hover > svg > g > path {
    fill: #103FA0;
}

.action-bar__call-tel {
    margin: 0 0 0 .2rem;
}

.action-bar__action-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.action-bar__action-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.action-bar__action-icon > svg {
    width: 100%;
    height: 100%;
}

.action-bar__action-icon > svg > path, .action-bar__action-icon > svg > g > path, .action-bar__call-number:hover > svg > g > path {
   transition: all 500ms ease; 
}

.action-bar__action-icon:hover > svg > path, .action-bar__action-icon:hover > svg > g > path {
    fill: #103FA0;
}

/*navigation__section*/

.navigation__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navigation__link--catalog {
    display: inline-block;
    background: #103FA0 url(./images/burger.svg) 7% / 15% no-repeat;
    border: none;
    border-radius: .4rem;
    color: #FFFFFF;
    font-weight: 400;
    padding: 1rem 1rem 1rem 2.8rem;
    transition: all 500ms ease; 
}

.navigation__link--catalog:hover {
    background-color: #08296c;
}

.navigation__link {
    position: relative;
    font-weight: 400;
}

.navigation__link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    border-radius: 1rem;
    background-color: #242225;
    transition: width 0.5s;
}

.navigation__link:hover::after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px; 
    background-color: #242225; 
    transition: width 0.5s;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

/*breadcrumbs*/

.breadcrumbs__section {
    margin-bottom: 2.5rem;
}

.breadcrumbs__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 1rem;
}

.breadcrumbs__item:not(:last-child) {
    margin-right: 1.5rem;
}

.breadcrumbs__link {
    display: inline-block;
    line-height: 1;
    font-size: .8rem;
    color: #215BD4;
    border-bottom: 1px solid #215BD4;
    margin-bottom: .5rem;
    transition: all 500ms ease;
}

.breadcrumbs__link:hover {
    color: #103FA0;
    border-bottom: 1px solid #103FA0;
}

.breadcrumbs__link::after {
    content: '/';
    position: absolute;
    color: #999999;
    transform: translate(0.7rem, 0.1rem);
}

.breadcrumbs__link--last {
    display: inline-block;
    pointer-events: none; 
    font-size: .8rem;
    color: #999999;
    border: none;
    line-height: 1.2;
}

/*goods__section*/

.goods__section {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.goods__h2 {
    margin: 2rem 0 2.5rem 0;
}

.goods__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem 3.5%;
    margin: 0;
}

.goods__item {
    width: 31%;
    min-width: 13rem;
    border: 1px solid #999;
    border-radius: .4rem;
    padding: 0.8rem;
    transition: all 500ms ease;
}

.goods__item:hover {
    border: 1px solid #215BD4;
}

.goods__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goods__buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.goods__button {
    width: 2rem;
    height: 1rem;
    border: none;
    background: #FFFFFF right / contain no-repeat;
    padding: 0;
    transition: all 500ms ease;
}

.goods__button--favorite:hover svg path {
    fill: #103FA0;
}

.goods__button--compare:hover svg path {
    fill: #103FA0;
}

.goods__item-image {
    max-width: 10rem;
    height: 8rem;
    margin: 0 auto;
}

.goods__product-type {
    font-weight: 600;
    font-size: .6rem;
    color: #999999;
    margin: 0;
}

.goods__product-name {
    height: 3rem;
    font-weight: 600;
    font-size: .7rem;
    color: #242225;
    line-height: 1.5;
    overflow: hidden;
    margin: 0;
}

.goods__product-vendor-code {
    font-weight: 600;
    font-size: .6rem;
    color: #215BD4;
    margin: 0;
}

.goods__product-availability {
    font-weight: 600;
    font-size: .6rem;
    color: #215BD4;
    margin: 0;
}

.goods__product-cost {
    font-weight: 700;
    font-size: .9rem;
    color: #242225;
    margin: 0;
}

.goods__button-basket {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    border-radius: .4rem;
    background: #215BD4 url(./images/basket-white.svg) center / 60% no-repeat;
    border: none;
    transition: all 500ms ease;
}

.goods__button-basket:hover {
    background-color: #103FA0;
}

/*footer*/

.footer__section {
    background-color: #0B1C40; 
    color: #FFFFFF;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 3rem 1rem;
}

.footer__heading {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer__list {
    margin: 0;
}

.footer__list > li > a {
    display: block;
    width: fit-content;
    font-weight: 400;
    font-size: .8rem;
    transition: all 500ms ease;
}

.footer__contacts--work-time, .footer__contacts--weekend {
    margin: 0;
}

.footer__list > li > .footer__contacts--telegram:hover,
.footer__list > li > .footer__contacts--whatsapp:hover,
.footer__list > li > .footer__contacts--viber:hover {
    transform: scale(1.4);
}

.footer__lists-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background:#999999;
}

.footer__list-contacts {
    grid-area: 1/3/2/5;
}

.footer__contacts {
    position: relative;
    padding-left: 2rem;
}

.footer__contacts--address::before  {
    content: '';
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/location.svg) center / contain no-repeat;
}

.footer__contacts--phone::before   {
    content: '';
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/phone-white.svg) center / contain no-repeat;
    transform: translateY(7px);
}

.footer__contacts--email::before   {
    content: '';
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/email.svg) center / contain no-repeat;
    transform: translateY(7px);
}

.footer__contacts--work-time::before   {
    content: '';
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/calendar.svg) center / contain no-repeat;
    transform: translateY(7px);
}

.footer__contacts--weekend::before   {
    content: '';
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/calendar.svg) center / contain no-repeat;
    transform: translateY(7px);
}

.footer__contacts-socials-wrapper {
    display: flex;
    gap: 2rem;
}

.footer__contacts--telegram {
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/telegram.svg) center / contain no-repeat;
}

.footer__contacts--whatsapp {
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/whatsapp.svg) center / contain no-repeat;
}

.footer__contacts--viber {
    width: 1rem;
    height: 1rem;
    background: transparent url(./images/viber.svg) center / contain no-repeat;
}

    
/*footer__section-copyrights*/

.footer__copyrights-section {
    background-color: #0B1C40;
    color: #FFFFFF;
}

.footer__copyrights-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footer__copyrights-logo {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    background: #FFFFFF url(./images/logo.jpg) right / contain no-repeat;
}

.footer__copyrights-payment-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.footer__copyrights-payment-description {
    font-weight: 600;
    font-size: .7rem;
    margin: 0;
}

.footer__copyrights-payment-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyrights-payment-item {
    width: 4rem;
    height: 2rem;
}

.footer__copyrights-payment-item--1 {
    background: transparent url(./images/visa.svg) right / contain no-repeat;
}

.footer__copyrights-payment-item--2 {
    background: transparent url(./images/mastercart.svg) right / contain no-repeat;
}

.footer__copyrights-payment-item--3 {
    background: transparent url(./images/mir.svg) right / contain no-repeat;
}

.footer__copyrights-payment-item--4 {
    background: transparent url(./images/webmoney.svg) right / contain no-repeat;
}

.footer__copyrights-payment-item--5 {
    background: transparent url(./images/iopay.svg) right / contain no-repeat;
}

@media (max-width: 1400px) {

    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .h2-style {
        font-size: 1.3rem;
    }

    .main-navigation__container--mobile {
        display: flex;
        align-items: center;
    }

    .main-navigation__burger-menu {
        width: 2rem;
        height: 2rem;
        background: url(./images/burger.svg) center no-repeat;
        border: none;
        padding: 0;
        transform: translateY(5px);
    }

    .main-navigation__link-info {
        display: block;
        width: 2rem;
        height: 2rem;
        background: url(./images/info.svg) center / 90% no-repeat;
    }

    .main-navigation__link-enter {
        display: block;
        width: 2rem;
        height: 2rem;
        background: url(./images/user.svg) center no-repeat;
    }

    .main-navigation__button-search {
        width: 2rem;
        height: 2rem;
        background: url(./images/search-white.svg) center / 70% no-repeat;
        border: none;
    }

    .main-navigation__search-bar {
        display: none;
        /* display: flex; */
        justify-content: end;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        gap: 1rem;
        background-color: #215BD4;
        padding: 1.1rem;
    }

    .main-navigation__search-bar-input {
        width: 85%;
        min-width: 11rem;
        border: 1px solid #FFFFFF;
        background-color: #215BD4;
        padding: .5rem 1rem;
        border-radius: .4rem;
        color: #FFFFFF;
        font-size: 1rem;
    }

    .main-navigation__search-bar-input::placeholder {
        color: #FFFFFF;
        font-size: 1rem;
    }

    .main-navigation__search-bar-button-close {
        width: 2rem;
        height: 2rem;
        background: url(./images/close-white.svg) center no-repeat;
        border: none;
    }

    .action-bar__logo {
        height: 3rem;
        transform: translateY(-0.2rem);
    }

    /*navigation*/

    .navigation__list--desktop, .navigation__container, .main-navigation__container--desktop, .action-bar__search, .action-bar__call {
        display: none;
    }

    .navigation__list--mobile {
        background-color: #FFFFFF;
        position: absolute;
        height: 100vh;
        left: 0;
        right: 0;
        top: 4.3rem;
        z-index: 100;
        padding: 0 2rem;
    }

    .navigation__list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .navigation__link--catalog {
        background: #103FA0;
        padding: .7rem 1rem;
    }

    .navigation__link {
        color: #215BD4;
    }

    /*breadcrumbs*/

    .breadcrumbs__section {
        margin-bottom: 1rem;
    }

    /*footer*/

    .footer__container {
        grid-template-columns: repeat(2, auto);
    }

    .footer__list-contacts {
        grid-area: auto;
    }

    .footer__copyrights-payment-container {
        margin: 0 auto;
    }

    .footer__copyrights-name {
        margin: 0;
        font-size: 1rem;
    }
}

@media (max-width: 800px) {

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .slick-prev:before, .slick-next:before {
        font-size: 40px;
    }

    /*navigation*/

    .navigation__list--mobile {
        padding: .5rem 1rem 1rem;
    }

    .navigation__list > li > a {
        display: block;
        margin-bottom: .5rem;
    }

    /*breadcrumbs*/

    .breadcrumbs__link::after {
        transform: translate(0.4rem, 0.1rem);
    }

    /*goods*/

    .goods__section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .goods__list {
        justify-content: center;
    }

    /*footer*/

    .footer__copyrights-container {
        gap: 2rem 0.2rem;
    }

    .footer__copyrights-logo {
        width: 3rem;
        height: 2rem;
    }

    .footer__copyrights-payment-description {
        margin: 0 auto;
    }

    .footer__copyrights-payment-list {
        flex-wrap: wrap;
        gap: .5rem;
        margin: 0 auto;
    }

    .footer__copyrights-payment-item {
       width: 3rem; 
    }
    
    .footer__container {
        grid-template-columns: auto;
    }

    .footer__copyrights-name {
        font-size: .8rem;
    }

    .footer__copyrights-payment-container {
        flex-wrap: wrap;
    }
}