.breadcrumbs__section {
    margin-bottom: 2.5rem;
}

.breadcrumbs__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.breadcrumbs__link {
    font-size: .8rem;
    color: #215BD4;
    border-bottom: 1px solid #999999;
}

.breadcrumbs__link::after {
    content: '/';
    position: absolute;
    color: #999999;
    transform: translate(0.7rem, 0.1rem);
}

.breadcrumbs__link--last {
    color: #999999;
    border: none;
}

.breadcrumbs__link--last::after {
   content: '';
}

/*filter*/

.filter-products__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.filter {
    background: #EFF4FF;
    border-radius: .5rem;
    padding: .8rem; 
}

.filter > h3 {
    font-weight: 600;
    font-size: .9rem;
    margin: 0;
}

.filter > h4 {
    font-weight: 400;
    font-size: 16px;
    margin: 1.5rem 0 .6rem 0;
    line-height: 1rem;
}

.filter > input[type=text] {
    background: #FFFFFF;
    box-shadow: inset 4px 0px 8px 3px rgba(0, 0, 0, 0.09);
    border-radius: .4rem;
    border: none;
    padding: .7rem;
}

.filter > input[type=text]::placeholder {
    font-weight: 400;
    font-size: .8rem;
    color: #999999;
}

label {
    display: inline-block;
    padding: .2rem .6rem;
    cursor: pointer;
    background-color: #FFF;
    border-radius: .4rem;
    margin-right: .3rem;
    margin-bottom: .4rem;
}

input[type=checkbox] {
    display: none;
}

.filter > label > small {
    color: #999999;
    font-size: .7rem;
}

/*products_list*/

.products-list__sorting {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.products-list__sorting-text {
    margin: 0;
    line-height: 2rem;
}

.products-list__dropdown {
    border-radius: .4rem;
}

.products-list__dropdown--type {
    width: 30%;
}

.products-list__dropdown--amount {
    width: 10%;
}

.products-list__h1 {
    font-weight: 700;
    font-size: 30px;
    color: #242225;
    margin: 0 0 2rem;
    line-height: 3rem;
}


