.product-info__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.product-info__nav-list {
    width: 12%;
    position: sticky;
    top: 5rem;
    padding-bottom: 4rem;
}

.product-info__nav-item:hover {
    color: #103FA0;
}

.product-info__nav-item:not(:last-child) {
    margin-bottom: 1rem;
}

.product-info__nav-link {
    display: block;
    background:  transparent left no-repeat;
    font-size: .7rem;
    padding-left: 1.1rem;
    line-height: 1.2;
    transition: all 500ms ease;
}

.product-info__nav-link--1 {
    background-image: url(./images/arrows-up-product.svg);
    background-size: 9%;
}

.product-info__nav-link--2 {
    background-image: url(./images/about-product.svg);
    background-size: 8%;
}

.product-info__nav-link--3 {
    background-image: url(./images/characteristic-product.svg);
    background-size: 8%;
}

.product-info__nav-link--4 {
    background-image: url(./images/descr-product.svg);
    background-size: 9%;
}

.product-info__nav-link--5 {
    background-image: url(./images/question-product.svg);
    background-size: 12%;
}

.product-info__nav-link--6 {
    background-image: url(./images/delivery-product.svg);
    background-size: 9%;
}

.product-info__nav-link--7 {
    background-image: url(./images/star-product.svg);
    background-size: 8%;
}

.product-info__content-section-wrapper {
    width: 68%;
    border-radius: 0.4rem;
    box-shadow: 0 4px 16px -2px rgb(5 8 16 / 10%);
    padding: 2rem 3rem;
    margin-bottom: 4rem;
}

.product-info__content-section {
    padding-top: 4rem;
    margin-top: -4rem;
}

.product-info__content-wrapper {
    display: grid;
    grid-template-columns: 53% 45%;
    gap: 2%;
    padding-top: 4rem;
    margin-top: -4rem;
}

.product-info__content-h1 {
    font-size: 1.5rem;
    line-height: 1.5; 
    font-weight: 600;
    margin: 0 0 2rem 0;
}

.slick-slide img {
    margin: 0 auto;
}

.product-info__content-h2 {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0 0 1.5rem;
}

.product-info__content-text {
    font-weight: 400;
    font-size: .7rem;
    line-height: 1.5;
    margin: 0;
}

.product-info__content-text:not(:last-child) {
    margin: 0 0 .8rem;
}

.product-info__content-text--bold {
    font-weight: 700;
}

.product-info__content-link {
    color: #215BD4;
    font-weight: 400;
    font-size: .8rem;
}

.product-info__manufacturers-list {
    display: flex;
    justify-content: flex-start;
}

/*slider*/

.product-info__content-swiper {
    width: 100%;
    margin: 0 auto 3rem;
}

.product-info__slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.product-info__slider-nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
}

.product-info__slider-nav > button {
    position: relative;
}

.product-info__slider-nav .slick-prev {
    left: 0;
}

.product-info__slider-nav .slick-next {
    right: 0;
}
  
.product-info__slide-container {
    margin-bottom: 3rem;
}

.product-info__slide-container img {
    transition: all 500ms ease;  
}

.product-info__slide-container:hover img{
    transform: scale(1.2);
}
  
.product-info__slide-btn {
    cursor: pointer;
    height: 4rem;
}

.product-info__slide-btn > img {
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: .6rem;
    transition: all 500ms ease;
}
  
.product-info__slide-btn:hover > img {
    border: 1px solid #242225;
}

.slick-prev, .slick-next {
    width: 2.5rem;
    height: 2.5rem;
}

/*product-info__action-panel*/

.product-info__action-panel {
    position: sticky;
    top: 5rem;
    padding-bottom: 4rem;
}

.product-info__action-panel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .3rem;
    margin-bottom: .5rem;
}

.product-info__action-panel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: .4rem .3rem .4rem 0;
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: .7rem;
}

.product-info__action-panel-button > svg > path, .product-info__action-panel-button > svg > g > path {
    transition: all 500ms ease;
}

.product-info__action-panel-button:hover > svg > path, .product-info__action-panel-button:hover > svg > g > path {
    fill: #103FA0;
}

.product-info__action-panel-button > span {
    white-space: nowrap;
}

.product-info__action-panel-button--compare > svg {
    margin-right: .2rem;
}

.product-info__action-panel-stock {
    color: #18A935;
    background:  transparent url(./images/product-info-stock-img.svg) left / 1rem no-repeat;
    margin: 0 0 1.5rem;
    padding-left: 1.5rem;
    font-weight: 600;
    font-size: .7rem;

}

.product-info__action-panel-purchase {
    position: sticky;
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0 4px 16px rgba(36, 41, 54, 0.2);
    border-radius: .4rem;
    padding: 1.5rem;
}

.product-info__action-panel-price {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.product-info__action-panel-button-basket {
    border: none;
    margin: 0 0 1rem;
}

.product-info__action-panel-button-buy {
    display: block;
    width: fit-content;
    text-align: center;
    background-color: #FFF;
    color: #999;
    margin: 0 auto;
    padding: .6rem .8rem;
    border: 3px solid #999;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: .9rem;
    white-space: nowrap;
    transition: all 500ms ease;
}

.product-info__action-panel-button-buy:hover {
    background: #999;
	color: #FFF;
}

.product-info__content-technical-characteristics {
    margin-bottom: 2.5rem;
}

.product-info__content-description, .product-info__content-questions {
    width: 68%;
    margin: -4rem 0 2rem;
    padding-top: 4rem;
}

.product-info__content-questions {
    padding-top: 4rem;
    margin-top: -4rem;
}

.product-info__content-h4 {
    font-weight: 600;
    font-size: .7rem;
    color: #215BD4;
    margin: 0 0 .3rem;
}

.product-info__content-delivery  {
    padding-top: 4rem;
    margin: -4rem 0 4rem;
}

.product-info__content-delivery-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-info__content-delivery-link {
    display: block;
    max-width: 17rem;
    min-width: 13rem;
    background: #FFF;
    color: #215BD4;
    box-shadow: 0 0 3px rgba(36, 41, 54, 0.2);
    border-radius: 1rem;
    padding: .7rem 1rem;
    transition: all 500ms ease;
}

.product-info__content-delivery-link:hover {
    color: #103FA0;
    box-shadow: 0 4px 16px rgba(36, 41, 54, 0.5);
}

.product-info__content-delivery-link > svg > g > path, .product-info__content-delivery-link > svg > path {
    transition: all 500ms ease;
}

.product-info__content-delivery-link:hover > svg > g > path, .product-info__content-delivery-link:hover > svg > path {
    fill: #103FA0;
}

.product-info__content-delivery-link > p {
    margin: 0;
    font-size: .7rem;
}

.product-info__content-delivery-method {
    display: inline;
    font-weight: 600;
}

.product-info__content-delivery-text {
    font-weight: 400;
}

.recommended-products__section {
    padding-top: 4rem;
    margin: -4rem 0 4rem;
}

.recommended-products__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem 4%;
    margin: 0;
}

.recommended-products__item {
    width: 22%;
    min-width: 13rem;
    border: 1px solid #999;
    border-radius: .4rem;
    padding: 0.8rem;
    transition: all 500ms ease;
}

@media (max-width: 1400px) {

    .product-info__action-panel {
        position: fixed;
        background-color: #EFF4FF;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        padding: 1rem 2rem;
        margin-bottom: 0;
        z-index: 10;
    }

    .product-info__content-description, .product-info__content-questions, .product-info__content-delivery-item {
        width: 100%;
    }

    .product-info__content-section-wrapper {
        width: 80%;
        padding: 1rem;
    }

    .product-info__content-h1 {
        font-size: 1.3rem;
        line-height: 1.3;
    }

    .product-info__content-h2 {
        font-size: 1.1rem;
    }

    .product-info__content-wrapper {
        grid-template-columns: 61% 37%;
    }

    .product-info__action-panel-container {
        justify-content: flex-start;
        gap: 1rem;
        display: inline-flex;
        margin-right: 1rem;
    }

    .product-info__action-panel-stock {
        display: inline-block;
        margin: 0;
        transform: translateY(-.3rem);
    }

    .product-info__action-panel-purchase {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }

    .product-info__action-panel-price, .product-info__action-panel-button-basket, .product-info__action-panel-button-buy {
        margin: 0;
    }

    .product-info__content-delivery-list {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 800px) {

    .product-info__content-section-wrapper {
        padding: .5rem;
    }

    .product-info__slider-nav {
        gap: .5rem;
    }

    .product-info__content-section-wrapper {
        width: 100%;
        margin-bottom: 2rem;
    }

    .product-info__container {
        justify-content: center;
    }

    .product-info__slide-btn > img {
        max-height: 3rem;  
    }

    .product-info__content-delivery-item {
        width: 100%;
    }

    .product-info__content-delivery-link {
        padding: .7rem 1rem .7rem 1.5rem;
    }

    .product-info__content-delivery-link > svg {
       margin-right: 0.3rem;
    }
    
    .product-info__content-h1 {
        font-size: 1rem;
    }

    .product-info__content-wrapper {
        padding-right: 0;
    }

    .product-info__content-h4 {
        margin: 0 0 .5rem;
        line-height: 1.5;
    }
    
    .product-info__content-main-characteristics, .product-info__nav-list, .product-info__action-panel-button-buy {
        display: none;
    }

    .product-info__content-wrapper {
        grid-template-columns: 100%;
    }

    .product-info__action-panel-button > span {
        display: none;
    }

    .product-info__manufacturers-list {
        justify-content: center;
    }

    .product-info__action-panel {
        padding: .3rem 1rem;
    }

    .product-info__action-panel-container {
        margin-bottom: 0;
    }

    .product-info__action-panel-price {
        font-size: 1rem;
    }

    .product-info__action-panel-purchase {
        justify-content: space-around;
        padding: .5rem;
    }

    .product-info__action-panel-button-basket {
        padding: .5rem 1rem;
    }

    .product-info__content-delivery {
        margin-bottom: 3rem;
    }

    .product-info__content-text:not(:last-child) {
        margin: 0 0 0.5rem;
    }

    .recommended-products__list {
        justify-content: center;
    }
}
